extends layout

block content
  h1= title
  p Welcome to #{title} #{name} FBID #{fbId}  

  link(rel='stylesheet', href='/stylesheets/admin.css')


  script( src="http://ajax.googleapis.com/ajax/libs/dojo/1.8.1/dojo/dojo.js", data-dojo-config="async: true")

  // link(rel='stylesheet', href='/javascripts/styles/kendo.default.min.css')
  // link(rel='stylesheet', href='/javascripts/styles/kendo.common.min.css')
  // script(src="/javascripts/kendo.web.min.js")


  script(src="/javascripts/admin/mydojogrid.js")


  script(src="/javascripts/admin/admin_tpl.js")
  script(src="/javascripts/admin/admin_h.js")
  script(src="/javascripts/admin/admin_mgr.js")

  img#croco(src="images/croco-red.png", alt="L!ve")


  #players



  #gridDiv