extends layout

block content
  h1= title
  p Welcome to #{title}

  script(src="/javascripts/dashboard_mgr.js")

  img(src="images/croco-red.png", alt="L!ve")

  input(type="button", id="search_button", value="Search")


  p#search_container player