extends layout

block content
  h1= title
  p Welcome to #{title} #{name} FBID #{fbId}  


  img#croco(src="images/croco-red.png", alt="L!ve")



  script(src="/javascripts/facebook_mgr.js")



  script(src="/javascripts/dashboard/dashboard_tpl.js")
  script(src="/javascripts/dashboard/dashboard_h.js")
  script(src="/javascripts/dashboard/dashboard_mgr.js")

  #player_games

  #prizes





 