extends layout

block content
  
  link(rel='stylesheet', href='/stylesheets/main.css')

  script(src="/javascripts/facebook_mgr.js")
  script(src="/javascripts/index_mgr.js")

  h1= title

  #page

    #welcome
     p Welcome to #{title}

    div.dashboard

    img#croco(src="images/croco-red.png", alt="L!ve")
  
    #fb-root
      div.logbutton
         img#logbut(src="../images/login_butt.png", alt="")
  